includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:

    paths:
        - src/

    level: 6

    ignoreErrors:
        -
            message: '#Trait\\s+Blamodex\\\\Address\\\\Traits\\\\Addressable\\s+is\\s+used\\s+zero\\s+times\\s+and\\s+is\\s+not\\s+analysed#'
            path: src/Traits/Addressable.php